body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:170px;
  height:593px;
  overflow:hidden;
}
#u126_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:593px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u126_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:593px;
}
#u127_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:593px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:593px;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:84px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:84px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:166px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:170px;
  height:31px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  color:#1C2C60;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:170px;
  height:38px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  color:#1C2C60;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:170px;
  height:30px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  color:#1C2C60;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:285px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:170px;
  height:285px;
  font-family:'Century Gothic Negrita', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:468px;
  width:170px;
  height:30px;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#1C2C60;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:498px;
  width:170px;
  height:30px;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#1C2C60;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:170px;
  height:30px;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#1C2C60;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:558px;
  width:170px;
  height:35px;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#1C2C60;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:590px;
}
#u138_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:590px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:590px;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:64px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:64px;
  font-family:'Century Gothic Negrita', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  color:#1C2C60;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:170px;
  height:30px;
  font-family:'Century Gothic Negrita', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:170px;
  height:30px;
  font-family:'Century Gothic Negrita', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:308px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:170px;
  height:308px;
  font-family:'Century Gothic Negrita', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:432px;
  width:170px;
  height:43px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#1C2C60;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:475px;
  width:170px;
  height:43px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#1C2C60;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:518px;
  width:170px;
  height:37px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#1C2C60;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:555px;
  width:170px;
  height:35px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#1C2C60;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 240, 224, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  color:#1C2C60;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:170px;
  height:30px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  color:#1C2C60;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:127px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:170px;
  height:127px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:136px;
  width:140px;
  height:26px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:64px;
  width:145px;
  height:25px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:92px;
  width:160px;
  height:37px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:160px;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF8E01;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:165px;
  width:140px;
  height:26px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF8E01;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:63px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:86px;
  width:160px;
  height:63px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:92px;
  width:145px;
  height:25px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:117px;
  width:145px;
  height:25px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:140px;
  height:48px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:24px;
  width:97px;
  height:24px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:20px;
  width:34px;
  height:34px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:593px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:2px;
  width:150px;
  height:593px;
  opacity:0.15;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(239, 240, 224, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:320px;
  height:46px;
  color:#1E1E1E;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:48px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:180px;
  height:48px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:16px;
  width:23px;
  height:20px;
  color:#1E1E1E;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:549px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:320px;
  height:549px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:176px;
  width:281px;
  height:188px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:690px;
  width:281px;
  height:188px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:433px;
  width:281px;
  height:188px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:374px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:947px;
  width:281px;
  height:188px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:623px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:880px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1137px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AHAMONO Bold', 'AHAMONO';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:97px;
  width:300px;
  height:104px;
  font-family:'AHAMONO Bold', 'AHAMONO';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:255px;
  width:281px;
  height:188px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:769px;
  width:281px;
  height:188px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:512px;
  width:281px;
  height:188px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:448px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1026px;
  width:281px;
  height:188px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:703px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:960px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1216px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AHAMONO Bold', 'AHAMONO';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:176px;
  width:300px;
  height:104px;
  font-family:'AHAMONO Bold', 'AHAMONO';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:334px;
  width:281px;
  height:188px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:848px;
  width:281px;
  height:188px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:591px;
  width:281px;
  height:188px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:532px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1105px;
  width:281px;
  height:188px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:789px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1041px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1293px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AHAMONO Bold', 'AHAMONO';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:255px;
  width:300px;
  height:104px;
  font-family:'AHAMONO Bold', 'AHAMONO';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  word-wrap:break-word;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:413px;
  width:281px;
  height:188px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:927px;
  width:281px;
  height:188px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:670px;
  width:281px;
  height:188px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:611px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:188px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1184px;
  width:281px;
  height:188px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:862px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1120px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1372px;
  width:281px;
  height:59px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AHAMONO Bold', 'AHAMONO';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:334px;
  width:300px;
  height:104px;
  font-family:'AHAMONO Bold', 'AHAMONO';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:161px;
  height:51px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:14px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:14px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:46px;
  width:159px;
  height:51px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:14px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  word-wrap:break-word;
}
